openapi: '3.0.0'
info:
  version: 1.0.0
  title: Ahmed Rehan Documentation API
  license:
    name: MIT
servers:
  - url: https://api.ahmedrehan.com/v1
paths:
  /documents:
    get:
      summary: List all documents in the documentation space
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: How many documents to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new document in the documentation space
      operationId: createDocument
      responses:
        201:
          description: Document created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Retrieve details of a specific document by its ID
      operationId: getDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: The unique identifier of the document to retrieve
          schema:
            type: string
      responses:
        200:
          description: Document details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing document with new content or metadata
      operationId: updateDocument
      responses:
        200:
          description: Document updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      summary: Retrieve a list of all projects in the documentation space
      operationId: listProjects
      responses:
        200:
          description: List of projects returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new project to organize documentation
      operationId: createProject
      responses:
        201:
          description: Project created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - title
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        project_id:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
